* {
    font-size: 16px;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  .header {
    margin-top: 20px;
    font-size: 2rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  .result-container {
    display: none;
  }
  
  .result-container .score {
    color: #666766;
  }
  
  .game-container {
    width: 500px;
    height: 25rem;
    margin: 20px auto;
    background-color: #fff;
    color: #fff;
    border: 2px solid #9e9e9e;
    border-radius: 4px;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  }
  .game-container .tiles {
    border: 1px solid #9e9e9e;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .game-container {
      width: 100%;
    }
  }